@import "./mixin.module";

.container {
  height: 100%;

  .header {
    background-image: url("/img/about_banner.jpg");
    height: 400px;
    position: relative;
    .header_text {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-family: $font_big;
        font-size: 5.5rem;
        color: $white;
      }
    }
  }

  .vision {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items:center;
    gap: 20px;
    padding: 0px 20px;
    flex-wrap: wrap;
    margin:5rem 0;


    .vision_image {
      display: block;
     width: 500px;
     overflow: hidden;

      img{
        width: 100%;
        transition: all 0.3s;

        &:hover{
          transform: scale(1.2)
        }
      }
    }

    .vision_text{
      
      display: block;
     width: 500px;
        h2{
            font-size: 4rem;
        }

        p{
            font-size: 1rem;
            padding-top: 15px;
            font-family: $font_small;
        }
    }
  }
}
