@import "./mixin.module";

.carts {
  overflow-y: scroll;
}
.ProductDetail {
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 10px;
  
  

  img {
    width: 50px;
    height: 70px;
    background-color:$light_black;
  }

  h1 {
    font-size: 1.1rem;
    text-transform: capitalize;
    width: 130px;
  }

  h5 {
    font-size: 1.2rem;
    color: $light_red;
    font-size: $font_small;
  }

  button{
    font-family: $font_small;
    color: $white;
    background-color:$light_black;
    border-radius: 20px;
    padding: 2px 2px;

    .nav_cancel{
      display: flex;

    }
  }



  .selectOption{

    select{
      border: 1.5px solid black;
      width: 100%;
      border-radius: 5px;
      font-family: $font_small;
    }
    option{
      font-family: $font_small;
      font-size: 1.4rem;

      &:hover{
        background-color: #000;
      }

    }
  }
}

.empty_cart {
  text-align: center;
  padding-top: 10rem;
  

  h1 {
    font-size: 2rem;
    color: $dark_red;
    font-family: $font-big;
  }
img{
  height:10rem;
 
}
  button {
    @include button;
    margin-top: 20px;
  }
}

.bottom {
  .quantity {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 15rem;
  }

  .button {
    margin: 10rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    button {
      background-color: $light_red;
      height: 40px;
      width: 20rem;
      color: $white;
      font-family: $font_small;
      font-size: 1.5rem;
      border-radius: 10px;
      transition: all 0.3s;

      &:hover{
        color: $white;
        background-color:$black;
      }
    }
  }

  input{
    border: 2px black solid;
  }
}
