@import "./mixin.module";

.ProductDetail{
display:flex;
gap: 20px;



img{
  height:70px;
}

h5{
  font-size: 2rem;
  color: $light_red;
  font-size: $font_small;
}

.ProductDetailShowDecInc {
    display: flex;
    padding: 5px 0;
    div {
      height: 30px;
      width: 30px;
      border: 1px solid $light_black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-size: 2rem;
    }
  }

}


.empty_cart{
    text-align: center;
    padding-top: 20rem;

    h1{
        font-size: 3rem;
        color: $dark_red;
        font-family:$font-big;
    }
 
    button{
        @include button;
        margin-top:40px;
    }
    
 
}