@import "./mixin.module";

.ProductDetail{


.empty_cart{
    text-align: center;
    padding-top: 20rem;

    h1{
        font-size: 3rem;
        color: $dark_red;
        font-family:$font-big;
    }
 
    button{
        @include button;
        margin-top:30px;
    }
    
 
}



.ProductDetailShowDecInc {
    display: flex;
    padding: 10px 0;
    div {
      height: 40px;
      width: 50px;
      border: 1px solid $light_black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      font-size: 2rem;
    }
  }

}