@import "./mixin.module";


.categories {
  .category {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 300px));
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 0 4px;
    @media screen and (max-width: 988px) {

    grid-template-columns:repeat(auto-fit, minmax(200px, 200px));
        
    }


    .category_items {
      position: relative;
      max-width: 400px;

      img{
          object-fit: cover;
       
      }

      .category_items_text {
        position: absolute;
        left: 5rem;
        bottom: 3rem;
        background-color: rgba(255, 255, 255, 0.678);
        
        padding: 10px;
        


        h2{
            font-size: 2rem;
            font-family: $font_big;
        }

      a{
        font-family: $font_small;
        font-size: 1.3rem;
        text-decoration: wavy;
        font-weight: 700;
        color: $dark_red;
      }
      }
    }
  }
}
