@import "./mixin.module";

.contactBody {
  width: 100%;
  height: 100vh;
  padding-top: 2rem;
  border-radius: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  gap: 2rem;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
  .formBody {
    width: 400px;
    border-radius: 10px;

    height: 400px;
    padding: 10px 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 500px) {
      width: 100%;
      padding: 0 10px;
    }

    .form {
      display: inline-flex;
      flex-direction: column;

      .formItem {
        padding: 6px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          font-family: $font_small;
          font-size: 0.9rem;
          margin-left: 10px;
          color: rgb(73, 7, 7);
        }
        input {
          width: 300px;
          height: 40px;
          outline: grey solid 2px;
          border: none;
          font-family: $font_small;
          font-size: 0.8rem;

          border-radius: 5px;
          padding: 0 10px;
        }
        textarea {
          width: 300px;
          height: 100px;
          outline: none;
          outline: grey solid 2px;
          font-family: $font_small;
          font-size: 0.8rem;
          border-radius: 5px;
          padding: 5px 10px;
          @media screen and (max-width: 500px) {
            max-width: 100%;
            padding: 5px 10px;

            // margin: 0 10px;
          }
        }

        button {
          margin: 2rem auto;
          width: 100%;
          height: 40px;
    
          color: #010101;
          font-size: 0.7rem;
          font-family: $font_small;
          transition: 0.2s;
          border: 1px solid rgb(189, 2, 2);
          border-radius: 10px;
          background-color: rgb(255, 0, 0);
          color: white;
          &:hover {
            background-color: rgb(237, 52, 52);
            color: #fff;
          }
        }
      }
    }
  }

  .socialS {
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    gap: 2rem;

    @media screen and (max-width: 500px) {
      width: 100%;
    }

    height: 400px;

    p {
      font-size: 15px;
      font-family: $font_small;
      font-weight: 600;
      color: $dark_red;
      padding: 10px 0;
    }

    span {
      font-family: $font_small;
      font-size: 1rem;
      padding: 20px 0;
    }
    a {
      font-family: $font_small;
      font-size: 1rem;
      // text-decoration: underline;
      color: $dark_red;
    }

    h1 {
      font-size: 1.3rem;
      margin: 5px 0;
      font-family: $font_small;
    }

    .icons {
      display: flex;
      a {
        margin-right: 10px;
      }
    }
  }
}
