@import "./mixin.module";

.container {
  background-color: $light_black;
  max-width: 100%;
  height: 100%;
  margin-top:5rem;
  font-size: 2rem;
  font-family: $font_small;
  padding: 20px 20px;
  .footer_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
    justify-items: space-evenly;
    border-bottom: 2px solid red;
    padding-bottom: 10px;

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
    }

    h4 {
      font-size: 1.2rem;
      color: $light_red;
      font-family: $font_big;
    }
    .grid {
      display: inline-block;
      flex-direction: column;
      a {
        display: inline-flex;
        padding: 5px;
        font-size: 1rem;
        color: white;
        font-family: $font_small;
        transition: 0.2s;

        &:hover {
          color: $light_red;
        }
      }
      .about {
        p {
          font-size: 1.2rem;
          color: white;
          font-family: $font_small;
          transition: 0.2s;
          padding: 1px 5.5px;
          display: inline-flex;
          align-items: center;
          margin-top: 3px;

          img {
            width: 20px;
            filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg)
              brightness(119%) contrast(115%);
          }
        }
      }
    }
  }

  .iconsDeveloper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icons {
      a {
        width: 20px;
        height: 100px;
        padding: 12px 3px;

        img {
          max-width: 20px;
          height: 100%;
          filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg)
            brightness(119%) contrast(115%);
        }
      }
    }

    .developer {
      float: left;
      color: white;
      font-size: 1.4rem;

      span {
        font-family: $font_small;
        font-size: 1rem;
      }
      a {
        color: $light_red;
        font-family: $font_small;
      }
    }
  }
}
