@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Poppins:wght@200&display=swap');
$crimson: crimson;
$black: #0d0d0d;
$light_black: #1a1a1a;
$white: #fff;
$grey: rgb(224, 224, 224);
$light_white: #aaa;
$box_shadow: 1px 1px 12px 0px rgba(0,0,0,0.30);
$font_small:  'Poppins', sans-serif;
$font_big: 'Oxygen', sans-serif;
$light_red: #ff5252;
$dark_red: #ff0000 ;



@mixin button{
    -moz-window-dragging: 5px;
    padding: 10px 20px;
    font-size: 20px;
    color: $white;
    background-color:$black;
    font-family: $font_small;
    transition:0.2s all ease-in-out;

    &:hover{
    background: $dark_red;
    }

    a{
        color: $white;
    }

    @media screen and (max-width: 768px){
    padding: 7.5px 20px;
    font-size: 15px;

    }
}


