@import "./mixin.module";

.nav {
  position: sticky;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 2rem;
  font-family: $font_big;
  background-color: $light_black;

  @media screen and (max-width: 768px) {
    padding: 30px 0%;
  }

  transition: 0.3s ease-in-out;

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 768px) {
    }

    .nav_mobile_link {
      display: none;
    }
    .nav_items {
      display: flex;
      align-items: center;

      .nav_logo {
        padding-right: 70px;
      }
    }

    .nav_link {
      a {
        font-family: $font_small;

        padding: 0px 20px;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        color: $white;
        transition: 0.3s ease-in-out;
        position: relative;

        &:hover {
          color: red;
        }
      }

      .nav_cancel {
        display: none;
      }
    }

    .nav_icons {
      display: flex;
      gap: 15px;
      color: white;
      position: relative;

      span {
        color: rgb(255, 0, 0);
        position: absolute;
        top: 0;
        right: 3rem;
        width: 17px;
        height: 17px;
        background-color: rgb(255, 255, 255);
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        border-radius: 10px;
        font-family: $font_small;

        @media screen and (max-width: 768px) {
          right: 7rem;
        }
      }

      .nav_icon {
        &:hover {
          color: $light_red;
        }
      }

      .nav_icon_menu {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }

    .nav_active {
      display: none;
    }

    @media screen and (max-width: 768px) {
      .nav_link {
        display: none;
      }
      .nav_mobile_link {
        transition: 0.3s;
        position: absolute;
        display: block;
        display: flex;
        align-items: center;
        padding-top: 10rem;
        gap: 30px;
        background-color: $black;

        width: 300px;
        height: 100vh;
        flex-direction: column;
        top: 0;
        left: -100%;
        bottom: 0;
      }

      .nav_active {
        transition: 0.3s;
        position: absolute;
        display: block;
        display: flex;
        align-items: center;
        gap: 60px;
        background-color: $black;
        width: 300px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 10;

        &::backdrop {
          background: red;
        }

        a {
          padding: 0px 20px;
          display: block;
          width: 100%;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 500;
          color: $light_black;
          transition: 0.3s ease-in-out;
          position: relative;
          color: $white;
          transition: 0.2s;

          &:hover {
            color: $light_red;
          }
        }

        .nav_cancel {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          top: 20px;
          right: 20px;
          transition: 0.2s all;

          &:hover {
            transform: rotate(140deg);
          }
        }
      }
    }
  }

  .carts {
    transition: 0.3s;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 30px;
    background: $light_white;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    top: 0;
    left: -100%;
    
    bottom: 0;
    z-index: -1;
  }

  .cartBody {
    display: relative;
  }

  .carts_active {
    transition: 0.3s;
    position: fixed;
    display: block;
    display: flex;
    background: $white;
    box-shadow: $box_shadow;
    gap: 30px;

    width: 300px;
    min-height: 100vh;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;

    &::backdrop{
      background: rgba(255,0,0,.25);
    }
    .nav_cancel {
      display: flex;
      justify-content: flex-end;
      margin: 10px 15px;
      transition: 0.2s all;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }
}
