@import "./mixin.module.scss";

.placeorder {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  padding: 5px 0px;
  background-color: rgb(243, 243, 243);

  .loading{
    display: flex;
      justify-content: center;
      align-items: center;
  }

  .placeorderFlex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 2rem;

    .shippingaddress {
      width: 500px;
      max-height: 500px;
      padding: 10px 5px;
      margin: 15px 0;
      border-top: 2px rgb(247, 112, 112) solid;
      border-bottom: 2px rgb(247, 112, 112) solid;
      background-color: $white;
      // border-radius:10px;

      @media screen and (max-width: 568px) {
        width: 400px;
      }

      a {
        background-color: black;
        border: 2px solid black;
        padding: 3px 30px;
        margin: 6.5px 0px;
        font-size: 1rem;
        color: white;
        font-family: $font_small;

        &:hover {
          background-color: white;
          color: $light_black;
        }
      }

      h5 {
        font-size: 0.8rem;
        padding: 5px 0;
        font-family: $font_small;
        font-weight: 300;
      }

      span {
        font-size: 0.8rem;
        padding: 5px 0;
        font-family: $font_small;
        font-style: italic;
        font-weight: 6 00;
      }
    }

    .productPreview {
      max-height: 100%;
      padding: 10px 10px;
      margin: 15px 0;
      gap: 10px;
      border-top: 1px rgb(247, 112, 112) solid;

      .product {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        border-top: 1px rgb(247, 112, 112) solid;
        border: 1px rgb(247, 112, 112) solid;
        padding: 10px 0;
        margin: 5px 0px;
        border-radius: 10px;

        h1 {
          font-size: 0.8rem;
          width: 150px;
          font-family: $font_small;
        }

        p {
          font-size: 0.8rem;

          font-family: $font_small;
        }

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }
    }
  }

  .checkout {
    width: 300px;
    height: 300px;
    padding: 10px 1rem;
    margin: 15px 0;
    border-radius: 10px;
    border: 1px rgb(247, 112, 112) solid;
    justify-items: center;
    align-content: center;
    background-color: #fff;

    button {
      margin: 2rem auto;
      width: 100%;
      height: 30px;

      color: #010101;
      font-size: 0.7rem;
      font-family: $font_small;
      transition: 0.2s;
      border: 1px solid rgb(247, 112, 112);
      border-radius: 10px;
      background-color: rgb(247, 112, 112);
      color: white;
      &:hover {
        background-color: rgb(237, 52, 52);
        color: #fff;
      }
    }

    .delivery {
      height: 120px;

      img {
        width: 100%;
        height: 100%;
        padding: 10px;
      }
    }

    h1 {
      font-size: 0.8rem;
      padding: 5px 0;
      font-family: $font_small;
      font-weight: 300;

      span {
        font-family: $font_small;
        float: right;
        padding-right: 0.5rem;
      }
    }
  }
}
