@import "./mixin.module.scss";

.placeorder {
  max-width: width 100%;
  padding: 2rem 2rem;
  .placeorderFlex{
    display: flex;
    justify-content:space-between;
}
  .shippingaddress {
    padding: 10px;
    border-radius: 10px;
    background: $light_red;
    margin: 10px;
    width: 400px;

 
    h5 {
      font-size: 1.3rem;
      font-family: $font_small;
      color: $light_black;
      padding: 1rem 0;

      span {
        color: $white;
        font-family: $font_small;
      }
    }
  }

  .productPreview {
    display: flex;

    .product {
      justify-content: center;
      text-align: center;
      background-color: $black;
      color: $white;
      padding: 10px;
      border-radius: 10px;

      img {
        max-width: 70px;
        display: inline-block;
        border-radius: 10px;
      }

      h1 {
        font-size: 1.2rem;
        font-family: $font_big;
      }
    }
  }

  .checkout{
      
    button{
        @include button
    }
  }
}
