@import "./mixin.module.scss";

.popupContainer {
  position: fixed;
  color: white;
  z-index: 1000;
  text-align: center;
  display: flex;
  justify-items: center;
  display: inline;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.459);
  height: 100%;
  width: 100%;

  @media screen and (max-width: 768px) {
  }

  .popupContent {
    background-color: white;
    margin-top: 15rem;
    width: 350px;
    height: 200px;
    display: inline-block;
    padding: 50px 0px;
    font-size: $font_small;
    color: black !important;
    animation: popOut 0.3s;
    transition: all 0.4s ease-in-out;
    position: relative;
    border-radius: 10px;
    @media screen and (max-width: 500px) {
      width: 300px;
      height: 240px;
      padding: 60px 20px;

      h2 {
        font-size: 1.1rem;
      }
    }

    h2 {
      font-family: $font_big;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      font-size: 0.8rem;
      font-family: $font_small;
      color: $black;
      font-weight: 550;
      margin-top: 10px;
    }
  }

  .popSize {
    background-color: white;
    margin-top: 10rem;
    width: 500px;
    height: 400px;
    display: inline-block;
    padding: 50px 0px;
    font-size: $font_small;
    color: black !important;
    animation: popOut 0.3s;
    transition: all 0.4s ease-in-out;
    position: relative;
    border-radius: 10px;
    @media screen and (max-width: 500px) {
      width: 300px;
      height: 400px;
      padding: 60px 20px;

      h2 {
        font-size: 1.1rem;
      }
    }

    p {
      font-size: 0.8rem;
      font-family: $font_small;
      color: $black;
      font-weight: 550;
      margin-top: 10px;
    }
  }

  button {
    @include button;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 1rem;
    font-family: $font_small;
    margin-top: 2rem;
  }

  .popupClose {
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    color: black;
  }
}

@keyframes popOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
