@import "./mixin.module";

.productsBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;

  @media screen and (max-width: 600px) {
    padding: 0 0rem;
  }

  .item {
    width: 280px;
    height: 100%;
    position: relative;
    margin: 1rem 10px; 

    @media screen and (max-width: 600px) {
      width: 100px;
      height: 100%;
    margin: 1rem 6px; 

    }
    @media screen and (max-width: 450px) {
      width: 100px;
      height: 100%;
    margin: 1rem 2px; 

    }

    .image {
      height: 330px;
      overflow: hidden;
      position: relative;

      @media screen and (max-width: 700px) {
        height: 250px;
      
      }
  

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s;
      }

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        .icons {
          color: black;
          background-color: white;
          padding: 5px;
          margin: 10px;
        }
      }
    }

    &:hover .image img {
      transform: scale(1.1);
    }

    .text_side {
      display: flex;
      flex-direction: column;
      margin-top: 0.7rem;
      overflow: hidden;

      h4 {
        font-size: 15px;
        color: #161616;
        font-family: $font_small;
      }
      p {
        font-size: 14px;
        color: #f50000;
        font-weight: 700;
        font-family: $font_small;

        span{
          color: rgb(168, 165, 165);
        font-size: 12px;
        text-decoration: line-through;
        font-weight: 300;

        }
      }

      @media screen and (max-width: 700px) {
       h4{
        font-size: 11px;
       }
       p{
        font-size: 8px;
       }
      
       span{
        font-size: 8px;
       }
      }
    }

    .cart_button {
      p {
        font-size: 10px;
        color: #f50000;
        font-weight: 700;
        font-family: $font_small;

        span{
          color: rgb(168, 165, 165);
        font-size: 10px;
        text-decoration: line-through;
        font-weight: 300;

        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      overflow: hidden;

      button {
        padding: 2px ;
        transform: translate(0, 100%);
        transition: all 0.2s;
        background: none;
        border-bottom: 2px solid #f50000;
        font-family: $font_small;
        font-size: 10px;
        cursor: pointer;
      }
    }

    &:hover .cart_button button {
      transform: translate(0, 0);
    }

    @media screen and (max-width: 500px) {
      width: 200px;
      height: 100%;
      position: relative;

      .text_side {
        h4 {
          font-size: 12px;
        }
      }
    }
  }
}
