@import "./mixin.module";

.ProductDetailShow {
  max-width: 100%;
  height: 100%;
  padding: 3rem 0.5rem;

  .size_tag{
    text-decoration: underline;
    color: red;
    size: 1rem;
    cursor: pointer;
  }
  .ProductDetailShowFlex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-content: center;

    .ProductDetailShowImageFlex {
      width: 500px;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media screen and (max-width: 500px){
      width: 300px;
        
      }
      .ProductDetailShowImage {
        width: 100%;
        height: 100%;


        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        @media screen and (max-width: 868px) {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .ProductDetailShowImageThumb {
        padding: 10px 0;
        width: 300px;
        height: 100%;
        img {
          width: 100%;
          object-fit: cover;

          @media screen and (max-width: 968px) {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .ProductDetailShowText {
      padding: 10px;
      width: 400px;

      h4 {
        font-family: $font_big;
        font-size: 1.7rem;
        padding: 10px 0px;
      }

      h5 {
        font-size: 1.3rem;
        font-family: $font_small;
        padding: 10px 0px;

        span{
          font-size: 1rem;
          font-family: $font_small;
          padding: 10px 0px;
          color: rgb(175, 170, 170);
          text-decoration: line-through;
          font-weight: 300;
        }
      }

      p {
        font-size: 0.8rem;
        font-family: $font_small;
        color: $light_black;
        padding: 10px 0px;
      }

      .prodQuantity {
        padding: 2rem 0;
        select {
          display: flex;

          -webkit-appearance: none;
          width: 70px;
          border: 4px solid $light_black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          font-size: 2rem;
          padding: 3px;
        }
      }

      button {
        @include button;
        margin: 10px 0;
      }

      .btn {
        background-color: $light_black;

        &:hover {
          background-color: $light_black;
        }
      }
    }
    @media screen and (max-width: 668px) {
      grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
    }
  }


  .extraImages{
    background-color: red;
  }
}
