@import "./mixin.module";

.review {
  height: 500px;
  overflow: hidden;
  background-image: url(/img/vision/kinox_visions.jpg);
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;


  .test {
    height: 500px;
    width: 500px;

    @media screen and (max-width: 600px){
        width: 400px;
            
        }
        @media screen and (max-width: 400px){
        width: 300px;
            
        }

  }

  .review_text {
    text-align: center;
    margin-top: 10rem ;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    h4{
        color: white;
        font-family: $font_small;
        padding: 0.5rem;
        font-size:1rem;
        font-weight: 400;
    }

    p{
        color: white;
        font-family: $font_small;
        
        span{
        font-family: $font_small;
            color: #ffadad;
            font-style: italic;
        }
    }
  }

  .overlay{
    background-color: rgba(43, 40, 40, 0.87);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
