@import "./mixin.module";

.home_slide {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  .slideHead {
    height: 600px;
  }

  .home_slide_items {
    max-height: 600px;

    .home_slide_img {
      width: 100%;
      height: 700px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .home_slide_text {
      position: absolute;
      width: 600px;
      height: 100%;
      top: 30%;
      left: 10%;
      color: white;

      h2 {
        font-size: 4rem;
        font-weight: 700;
        text-shadow: -1px 0px 0px rgba(115, 150, 150, 1);
        text-transform: uppercase;
      }

      p {
        font-size: 1rem;
        padding: 10px 0;
        font-family: $font_small;
      }

      button {
        @include button;
        background-color: #fff;
        color: #000;
        padding: 4px 30px;
        border: 1px solid #000;
        font-weight: 700;
        font-size: 1rem;

        &:hover {
          color: white;
        }
      }

      @media screen and (max-width: 768px) {
        left: 0;
        width: 100%;

        text-align: center;

        h2 {
          font-size: 3rem;
          font-weight: 700;
          padding-bottom: 2px;
        }
      }
    }
  }
}
