@import "./mixin.module";

.home_slide {
  height: 70vh;
  background-color: $black;
  overflow: hidden;

  @media screen and (max-width: 968px) {
    height: 60vh;
  }

  @media screen and (max-width: 700px) {
    height:70vh;
  }
  .home_slide_items {
    position: relative;
    .home_slide_item {
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 0px 40px;

      img {
        margin-bottom: 3rem;

      }
    
    
    

      .home_slide_text {
        margin-top: 10rem;
        width: 500px;
  
        h2 {
          font-size: 5rem;
          font-family: $font_big;
          font-weight: 800;
        }
  
        p {
          font-size: 1.5rem;
          font-family: $font_small;
          color: $grey;
        }
  
        button {
          @include button;
          background-color: $dark_red;
        }
      }
  
      @media screen and (max-width: 958px) {
        max-width: 100%;
        img {
          height: 450px;
        }
  
        .home_slide_text {
          margin-top: 6rem;
          width: 400px;
  
          h2 {
            font-size: 3rem;
            font-family: $font_big;
            font-weight: 800;
          }
          p {
            font-size: 1rem;
          }
        }
      }
  
      @media screen and (max-width: 700px) {
     flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
  
        img {
          margin: 5rem 0;
        height: 400px;
          
         

        }
  
        .home_slide_text {
          margin-top: 6rem;
          text-align: center;
          h2 {
            font-size: 4rem;
            font-family: $font_big;
            font-weight: 800;
          }
          p {
            font-size: 2rem;
          }
        }
      }

      
      @media screen and (max-width: 400px) {
        flex-direction: column-reverse;
           align-items: center;
           justify-content: center;
     
           img {
             margin: 5rem 0;
           height: 400px;
             
            
   
           }
     
           .home_slide_text {
             margin-top: 6rem;
             text-align: center;
             width: 250px;
             h2 {
               font-size: 2.5rem;
               font-family: $font_big;
               font-weight: 800;
             }
             p {
               font-size: 1.3rem;
             }
           }
         }
  }  }
}
